<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Messagerie GO</title>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1>Page introuvable</h1>
    </body>
</html>
